html{
    margin:0;
    padding:0;

}

body {
    margin:0;
    padding:0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    background-color: #fff;
    color: #000;
    font-size: 12px;
    font-family: 'Kanit', sans-serif;
}

h1 {
    font-family: 'Righteous', cursive;
    font-size: 2rem;
}

h2 {
    font-family: 'Kanit', sans-serif;
    font-size: 1.5rem;
}

h3 {
    font-family: 'Righteous', cursive;
    font-size: 1rem;
    font-weight: bold;
}

header {
    width: 100%;
    margin: 1rem 0rem;
    background-color: whitesmoke;
    text-align: center;
    vertical-align: middle;
    border-top: 2px dotted purple;
    border-bottom: 2px dotted purple;
}

strong {
    font-weight: bold;
    font-size: 14px;
}

.stat {
    padding: 0rem .5rem;
}

.text {
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    padding: 0rem .5rem;
}

.wrapper {
    display: flex;
    align-self: center;
    background-image: url(../images/wormhole.jpg);
    background-repeat: no-repeat;
    background-size:  cover;
    display: flex;
    flex-flow: column wrap;
    padding: 5rem 0rem;
    width: 100%;
    height: 100%;

}

.gamefield {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    width: 40%;
    height: 100%;
    padding: 3rem;
    margin: 0 auto;
    background-color: #fff;
    opacity: 85%;
    border: 1px dotted #000;
}

footer {
    width: 100%;
    height: 65px;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    border-top: 2px dotted purple;
    background-color: whitesmoke;
    color: #000;
    font-size: .75rem;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 2;
}